li>a:hover {
  cursor: pointer;
  color: #fff !important;
  text-decoration: none;
}

h1 {
  	font-family: Papyrus, fantasy;
  	font-size: 30px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 300;
  	font-weight: bold;
  	text-align: center;
  	color: black;
  }
#centerHeading{
text-align: center;
}
    #unhide{
    	display: none;
    }

    #error{
    	display: none;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
   @media screen and (orientation: portrait) {
      .container {
          margin-left: 10%;
          margin-right: 10%;
          margin-top: 15%;

      }
      h1 {
  	font-family: Papyrus, fantasy;
  	font-size: 40px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: bold;
  	text-align: center;
  	color: black;
    }
  }