  <h2 id="centerHeading">User Spending </h2>
  <div class="container">
 
  <br>
    <div  >
      <form #userForm="ngForm">
        <div class="form-group">
          <label for="name">User Email</label>

          
<!--           <input type="text" class="form-control" id="user"
                 required
                 [(ngModel)]="model.user" name="user"
                 #user="ngModel"> -->

  <select class="form-control"  id="user"
          required
          [(ngModel)]="model.user" name="user" #user="ngModel">
    <option *ngFor="let user of users" [value]="user.email">{{user.email}}</option>
  </select>
<!--           <div [hidden]="user.valid || user.pristine" 
               class="alert alert-danger">
            User is required
          </div> -->
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount"
                 [(ngModel)]="model.amount" name="amount" >
        </div>

        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control" id="item"
                 [(ngModel)]="model.item" name="item" >
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="model.description" name="description" >
        </div>

        <button type="button" class="btn btn-default" (click)="addUserPurchase(model.user,model.amount,model.description,model.item)"> post</button>
      </form>
    </div>