<h2>
  My Users</h2>
<ul class="users">
<!--   <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedHero">
    <span class="badge">{{user.id}}</span>
    <span>{{user.name}}</span>
    <button class="delete" (click)="delete(user); $event.stopPropagation()">x</button>
  </li> -->

    <li *ngFor="let user of users">
        {{user.user}}
        {{user.amount}}
        {{user.description}}
        {{user.item}} 

     </li>

</ul>


<br>
<h2>
  My Cats</h2>
<ul class="cats">

    <li *ngFor="let cat of cats">
        {{cat.name}}
      </li>

</ul>
